.navbar {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 0 3rem;
  top: 0;
  height: 5rem;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  padding-right: 5rem;
}

.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 10rem;
  height: 100%;
  color: #000;
  font-size: 1.5rem;
}

.navbar-brand .text {
  margin-bottom: 7%;
}

.navbar-menu {
  display: flex;
  align-items: center;
  height: 100%;
  width: 20rem;
  justify-content: space-between;
}

.navbar-start {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  height: 100%;
  width: 100%;
}
