@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
  color: rgb(0, 0, 0);
  font-family: 'Playfair Display', serif;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}


